.Products {
    .card {
        margin: 1rem;
        width: 90%;
        padding: 2rem;

        .card-body {
            padding: 1.4rem 0;

            .button-buy {
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}