.emptyCart {
    font-size: 2rem;
    margin: 6rem;
}

.cartItemsTable {

    margin-top: 3rem;
    box-shadow: rgba(39, 90, 19, 0.35) 0px 5px 15px;
    border-radius: 0.25rem;

    td {
        div {
            margin-top: 1.5rem;
        }
    }


    .removeBtn {
        border: none;
        background-color: white;

        padding-left: 0.5rem;

        &:hover {
            color: rgb(155, 22, 22);
        }
    }

    .quantityContainer {
        width: 4rem;

        .quantity {
            font-weight: bold;
            // margin-left: 0.3em;

        }

        .count {
            margin-top: 0;
            color: green;
            background-color: white;
            // border: none;
            font-size: 1.3rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            height: 0.1rem;
            cursor: pointer;
        }
    }


}

.shippingDetails {
    box-shadow: rgba(39, 90, 19, 0.35) 0px 5px 15px;
    border-radius: 0.25rem;
    padding: 1em;
    margin-bottom: 1em;



}

.btn {
    margin-right: 1rem;
}

.summary {


    td {
        text-align: right;
        padding-right: 1rem;
    }
}


.CartOverlay {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    img {
        margin: 3rem;
        width: 250px;
    }

    .confirmed {
        padding-bottom: 2rem;

    }
}