.navbar {
    background-color: rgb(255,244,245);
    padding: 0rem 3rem;
    .navbar-brand {
        img {
            width: 130px;
            height: 130px;
        }
    }

    .navbar-toggler {
        background-color: rgb(188, 224, 212);
        color: rgb(66, 114, 96);

    }

    .loginAndCartContainer {
        display: flex;
        flex-direction: row;
        .userName{
            margin-right: 0.6rem;
            margin-top: 0.6rem;
        }
        .icon {
            color: rgb(66, 114, 96);
            font-size: 1.4rem;

        }
        .icon1 {
            margin-right: 1rem;
        }
    }
}