.navbar {
    background-color: rgb(255,244,245);
    padding: 0rem 3rem;
    .navbar-brand {
        img {
            width: 130px;
            height: 130px;
        }
    }

    .navbar-toggler {
        background-color: white;
        color: rgb(39, 92, 71);

    }

    .loginAndCartContainer {
        display: flex;
        flex-direction: row;
        .userName{
            margin-right: 0.6rem;
            margin-top: 0.6rem;
        }
        .icon {
            color: black;
            font-size: 1.2rem;
        }
        .icon1 {
            margin-right: 1rem;
        }
    }
}