.secAbout {

    .carousel {

        width: 60vw;

        img {
            width: 400px;
        }
    }

    .aboutUsImg {
        width: 280px;
    }

    .container {
        margin-top: 3rem;
    }
}