.ProductItem {
    .container {
        padding: 2rem ;
    }

    .plant-img {
        height: 60vh;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

}

@media screen and (max-width: 767px) {
    .ProductItem {
        .container {
            padding: 2rem ;
        }
    
        .plant-img {
          background-size: cover;
        }
    
    }

}